* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #fff;
  font-family: Helvetica, sans-serif;
}

.box-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

img {
  max-width: 75px;
  height: auto;
}

h1 {
  font-size: 46px;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 16px;
  color: #a7a7a7;
  margin-bottom: 3rem;
  font-weight: 600;
}

a {
  background-color: #fff;
  color: #121212;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: 1px solid;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  background-color: transparent;
  color: #fff;
}

/* Responsive  */
@media (max-width: 640px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: small;
  }

  a {
    font-size: small;
  }

  img {
    max-width: 45px;
  }
}
